@import "../../Vars";
@import "../../index";

.content {
  background-image: url("../../images/1069061-302571386.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  @media ($smSize) {
    @include tablet-767
  }
}

.content-block {
  background-color: #ffffff;
  padding: 50px 45px;
  bottom: 50px;

  hr {
    background-color: #d8ffff;
    height: 2px;
    border: 0;
  }
  p {
    font-size: 125%;
    color: #017afe;
    font-weight: bold;
  }
  img {
    height: 60px;
  }
  button {
    height: 5em;
    border-radius: 20px;
    padding: 15px;
    font-size: 75%;
  }

  @media (max-width: $smSize ) {
    button {
      font-size: 60%;
      padding: 10px;
    }
    p {
      font-size: 100%;
    }
    padding: 40px 30px;
  }
}

.content h2 {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}