$mainBackgroundColor: #164ce2;
$mainButtonColor: #64ffff;
$mdSize: 991px;
$smSize: 767px;
$xsSize: 575px;

body {
  padding-top: 123px;
  text-align: center;
  min-width: 320px;
  height: 100%;
  @media (max-width: $mdSize) {
    padding-top: 120px;
  }
  
  @media (max-width: $smSize) {
    padding-top: 110px;
    .main-slider img {
      height: 325px;
    }
  }
}

.button {
  background-color: $mainButtonColor;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  font-size: 10px;
  color: $mainBackgroundColor;
}

@mixin tablet-991 () {
  .button {
    font-size: 8px;
  }

  .nav-call-us {
    font-size: 10px;
    padding: 50px 15px;
  }

  .nav-input input {
    &::placeholder {
      font-size: 9px;
    }
  }
}
@mixin tablet-767 () {

}
@mixin tablet-575 () {
  .nav-logo img {
    width: 125px;
  }
}